.container {
	max-width: 1000px;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto
}	
.threeDcontainer {
	width: 640px;
	height: 480px;
	margin: 0 auto;
}
#progress {
	width: 100%;
	font-weight: bold;
	position: absolute;
	z-index: 100;
	text-align: center;
	display: none;
}
#threeDrenderer {
	border-radius: 10px;
	border: 1px solid #A0A0A0;
}
.infoText {
	text-align: right;
}
:any-link{
  color: white;
}
body {
  background: black;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
#iconbar {
	position:absolute;
	left:10px;
	top:10px;
}
#lowericonbar {
	position:absolute;
	left:10px;
	bottom:10px;
}
.icons img {
	margin-bottom:6px;
	width:32px;
	height:32px;
	opacity:0.5;
	cursor:pointer;
}
.align-left{
	float:left;
	}
.align-right{
	float:right;
	}
.attribution{
	align:left;
}